.productTileSizes.productTileSizes {
  left: 930.4017px;
  top: 18px;
  width: 168.4803px;
}
.productTileSizes2.productTileSizes2 {
  left: 1157.988px;
  top: 18px;
  width: 168.4803px;
}
.productTileSizes3.productTileSizes3 {
  left: 253.0571px;
  top: 18px;
  width: 168.4803px;
}
.productTileSizes4.productTileSizes4 {
  left: 478.0573px;
  top: 18px;
  width: 168.4803px;
}
.root {
  position: relative;
  width: 1440px;
  height: 1445px;
  align-items: flex-start;
  background-image: linear-gradient(180deg, #ffff 0%, #91bda8ff 80%, #3a5e7cff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
}
.rectangle1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 96px;
  background-color: #d9d9d9;
}
.wanderful_072716_0000001 {
  position: absolute;
  left: 30px;
  top: 23px;
  width: 189px;
  height: 51px;
  background-image:/* webpackIgnore: true */ url('/assets/wanderful_072716_0000001.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame3332 {
  position: absolute;
  left: 273px;
  top: 33px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 34px;
}
.mENU {
  color: #000;
  font-size: 12px;
  font-family: Inknut Antiqua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rEWARDS {
  color: #000;
  font-size: 12px;
  font-family: Inknut Antiqua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.gIFTCARDS {
  color: #000;
  font-size: 12px;
  font-family: Inknut Antiqua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame3333 {
  position: absolute;
  left: 1022px;
  top: 23px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 30px;
}
.fINDASTORE {
  color: #000;
  font-size: 12px;
  font-family: Inknut Antiqua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame1 {
  width: min-content;
  height: min-content;
  padding: 10px 26px;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
}
.sIGNIN {
  color: #000;
  font-size: 12px;
  font-family: Inknut Antiqua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame2 {
  width: min-content;
  height: min-content;
  padding: 10px 26px;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
}
.jOINNOW {
  color: #000;
  font-size: 12px;
  font-family: Inknut Antiqua, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2 {
  position: absolute;
  left: 39px;
  top: 129px;
  width: 1356px;
  height: 196px;
  background-image: linear-gradient(90deg, #d9d9d9ff 0%, #3a5e7cff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.rectangle1336 {
  transform-origin: top left;
  position: absolute;
  left: 1471px;
  top: 1454px;
  width: 1471px;
  height: 306px;
  background-image: linear-gradient(90deg, #ffff 0%, #3a5e7cff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
.screenshot202451At121 {
  position: absolute;
  left: 38px;
  top: 109px;
  width: 941px;
  height: 216px;
  background-image:/* webpackIgnore: true */ url('/assets/screenshot202451At121.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.screenshot202451At11541 {
  transform-origin: top left;
  position: absolute;
  left: 309.1631px;
  top: 153.8597px;
  width: 193.2479px;
  height: 120.592px;
  border-radius: 25px;
  background-image:/* webpackIgnore: true */ url('/assets/screenshot202451At11541.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9556, 0.2947, -0.3213, 0.947, 0, 0);
}
.screenshot202451At11542 {
  transform-origin: top left;
  position: absolute;
  left: 81px;
  top: 161.9242px;
  width: 159.4782px;
  height: 99.3995px;
  border-radius: 25px;
  background-image:/* webpackIgnore: true */ url('/assets/screenshot202451At11542.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9914, -0.1312, 0.1441, 0.9896, 0, 0);
}
.rectangle1338 {
  position: absolute;
  left: 979px;
  top: 130px;
  width: 416px;
  height: 195px;
  outline: solid 2px #798fa1;
  outline-offset: -2px;
  background-color: #d9d9d9;
}
.rectangle1339 {
  position: absolute;
  left: -38px;
  top: 1085px;
  width: 1074px;
  height: 653px;
  background-color: #fff;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 44px 63px;
  mask-position: 44px 63px;
  -webkit-mask-size: 798px 297px;
  mask-size: 798px 297px;
}
.untitledDesign2 {
  position: absolute;
  left: 791px;
  top: 109px;
  width: 121px;
  height: 175px;
  background-image:/* webpackIgnore: true */ url('/assets/untitledDesign2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aBOUTCustomerReviewsGiftCardsC {
  position: absolute;
  left: calc(50% - -634.5px);
  top: calc(50% - -607px);
  width: 221px;
  height: min-content;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.textBlock {
  color: #1c2b58;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock2 {
  margin-top: 0;
}
.labelWrapper {
  font-size: 14px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.textBlock3 {
  margin-top: 0;
}
.labelWrapper2 {
  font-size: 14px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #1c2b58;
  font-size: 14px;
  line-height: 18.2px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock4 {
  margin-top: 0;
}
.labelWrapper3 {
  font-size: 14px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.textBlock5 {
  margin-top: 0;
}
.labelWrapper4 {
  font-size: 14px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label2 {
  color: #1c2b58;
  font-size: 14px;
  line-height: 18.2px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock6 {
  margin-top: 0;
}
.labelWrapper5 {
  font-size: 14px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.textBlock7 {
  margin-top: 0;
}
.labelWrapper6 {
  font-size: 14px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label3 {
  color: #1c2b58;
  font-size: 14px;
  line-height: 18.2px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock8 {
  margin-top: 0;
}
.labelWrapper7 {
  font-size: 14px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.textBlock9 {
  margin-top: 0;
}
.labelWrapper8 {
  font-size: 14px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label4 {
  color: #1c2b58;
  font-size: 14px;
  line-height: 18.2px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock10 {
  margin-top: 0;
}
.labelWrapper9 {
  font-size: 14px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.textBlock11 {
  margin-top: 0;
}
.labelWrapper10 {
  font-size: 14px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label5 {
  color: #1c2b58;
  font-size: 14px;
  line-height: 18.2px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.textBlock12 {
  margin-top: 0;
}
.labelWrapper11 {
  font-size: 14px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.textBlock13 {
  margin-top: 0;
  color: #1c2b58;
  font-size: 14px;
  line-height: 18.2px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
}
.wanderful_072716_0000002 {
  position: absolute;
  left: 1004px;
  top: 1198px;
  width: 189px;
  height: 51px;
  background-image:/* webpackIgnore: true */ url('/assets/wanderful_072716_0000002.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sendTheWanderfulGiftOfAdventur {
  color: #1c2b58;
  font-size: 24px;
  line-height: 37.2px;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1014px;
  top: 171px;
  width: 355px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle13362 {
  position: absolute;
  left: 39px;
  top: 345px;
  width: 1356px;
  height: 415px;
  background-color: #fff;
}
.rectangle1337 {
  position: absolute;
  left: 664px;
  top: 373px;
  width: 700px;
  height: 361px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle1337.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutWanderful {
  color: #1c2b58;
  font-size: 24px;
  line-height: 37.2px;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 70px;
  top: 373px;
  width: 277px;
  height: min-content;
  flex-direction: column;
}
.embarkOnAJourneyOfDiscoveryWit {
  position: absolute;
  left: 72px;
  top: 438px;
  width: 537px;
  height: min-content;
  flex-direction: column;
}
.textBlock14 {
  color: #1c2b58;
  font-size: 20px;
  line-height: 29.2px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock15 {
  margin-top: 0;
  color: #1c2b58;
  font-size: 20px;
  line-height: 29.2px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock16 {
  margin-top: 0;
  color: #1c2b58;
  font-size: 20px;
  line-height: 29.2px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock17 {
  margin-top: 0;
  color: #1c2b58;
  font-size: 20px;
  line-height: 29.2px;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.untitledDesign4 {
  transform-origin: top left;
  position: absolute;
  left: 616px;
  top: 477.2354px;
  width: 110.2008px;
  height: 175.0129px;
  background-image:/* webpackIgnore: true */ url('/assets/untitledDesign4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.9444, -0.3288, 0.3288, 0.9444, 0, 0);
}
.untitledDesign6 {
  transform-origin: top left;
  position: absolute;
  left: 567px;
  top: 640.6316px;
  width: 110.2008px;
  height: 175.0129px;
  background-image:/* webpackIgnore: true */ url('/assets/untitledDesign6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.8835, -0.4685, 0.4685, 0.8835, 0, 0);
}
.untitledDesign5 {
  transform-origin: top left;
  position: absolute;
  left: 501px;
  top: 382.1955px;
  width: 110.2008px;
  height: 175.0129px;
  background-image:/* webpackIgnore: true */ url('/assets/untitledDesign5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.8548, -0.519, 0.519, 0.8548, 0, 0);
}
.justInTimeForSpringBreak {
  color: #1c2b58;
  font-size: 24px;
  line-height: 37.2px;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39px;
  top: 778px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame3331 {
  position: absolute;
  left: 39px;
  top: 829px;
  width: 1344px;
  height: 264px;
  align-items: flex-start;
  gap: 22px;
}
.rectangle {
  position: absolute;
  left: 0;
  top: 0;
  width: 206px;
  height: 264px;
  outline: solid 1px #dedede;
  outline-offset: -1px;
  border-radius: 12px;
  background-color: #fff;
}
.rectangle3 {
  position: absolute;
  left: 228px;
  top: 0;
  width: 205px;
  height: 264px;
  outline: solid 1px #dedede;
  outline-offset: -1px;
  border-radius: 12px;
  background-color: #fff;
}
.rectangle4 {
  position: absolute;
  left: 455px;
  top: 0;
  width: 206px;
  height: 264px;
  outline: solid 1px #dedede;
  outline-offset: -1px;
  border-radius: 12px;
  background-color: #fff;
}
.rectangle5 {
  position: absolute;
  left: 50.8185%;
  right: 33.9286%;
  top: 0;
  bottom: 0;
  outline: solid 1px #dedede;
  outline-offset: -1px;
  border-radius: 12px;
  background-color: #fff;
}
.productTileSizes5 {
  position: absolute;
  left: 702.8157px;
  top: 18px;
  width: 168.4803px;
  height: 106px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.frame3330 {
  position: absolute;
  left: 703px;
  top: 145px;
  width: 116.3317px;
  height: 50px;
  place-content: center;
  align-items: flex-start;
}
.eurekaSPRKButaneCampStove {
  position: absolute;
  left: 3px;
  top: -12px;
  width: 153px;
  height: min-content;
  flex-direction: column;
}
.textBlock18 {
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock19 {
  margin-top: 0;
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle6 {
  position: absolute;
  left: 67.7083%;
  right: 16.9643%;
  top: 0;
  bottom: 0;
  outline: solid 1px #dedede;
  outline-offset: -1px;
  border-radius: 12px;
  background-color: #fff;
}
.productTileSizes6 {
  position: absolute;
  left: 929.399px;
  top: 18px;
  width: 168.4803px;
  height: 106px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.frame33302 {
  position: absolute;
  left: 930px;
  top: 145px;
  width: 116.3317px;
  height: 50px;
  place-content: center;
  align-items: flex-start;
}
.rEICoOpSkyward4Tent {
  position: absolute;
  left: 0;
  top: -11px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock20 {
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock21 {
  margin-top: 0;
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle7 {
  position: absolute;
  left: 84.6726%;
  right: 0;
  top: 0;
  bottom: 0;
  outline: solid 1px #dedede;
  outline-offset: -1px;
  border-radius: 12px;
  background-color: #fff;
}
.productTileSizes7 {
  position: absolute;
  left: 1157.988px;
  top: 18px;
  width: 168.4803px;
  height: 106px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.frame33303 {
  position: absolute;
  left: 1157.988px;
  top: 125px;
  width: 116.3317px;
  height: 50px;
  place-content: center;
}
.sawyerSqueezeWaterFilterSystem {
  position: absolute;
  left: 1158px;
  top: 134px;
  width: 144px;
  height: min-content;
  flex-direction: column;
}
.textBlock22 {
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock23 {
  margin-top: 0;
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.productTileSizes8 {
  position: absolute;
  left: 20.0572px;
  top: 18px;
  width: 168.4803px;
  height: 106px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.frame33304 {
  position: absolute;
  left: 20.0572px;
  top: 125px;
  width: 116.3317px;
  height: 50px;
  place-content: center;
  align-items: flex-start;
}
.theNorthFaceMiniReconPackKids {
  position: absolute;
  left: -0.0572px;
  top: 10px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock24 {
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock25 {
  margin-top: 0;
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.productTileSizes9 {
  position: absolute;
  left: 252.0545px;
  top: 18px;
  width: 168.4803px;
  height: 106px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.frame33305 {
  position: absolute;
  left: 239px;
  top: 170px;
  width: 116.3317px;
  height: 50px;
  place-content: center;
}
.yETIHopperM302SoftCooler {
  position: absolute;
  left: 250px;
  top: 137px;
  width: 162px;
  height: min-content;
  flex-direction: column;
}
.textBlock26 {
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock27 {
  margin-top: 0;
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.productTileSizes10 {
  position: absolute;
  left: 478.0573px;
  top: 18px;
  width: 168.4803px;
  height: 106px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.garminInReachMini2 {
  position: absolute;
  left: 478px;
  top: 135px;
  width: 157px;
  height: min-content;
  flex-direction: column;
}
.textBlock28 {
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock29 {
  margin-top: 0;
  color: #1c2b58;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  font-family: Palatino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
._5500 {
  color: #3b1a6e;
  font-size: 16px;
  line-height: 150%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1200px;
  top: 1051px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buyNow {
  position: absolute;
  left: 89.375%;
  right: 5.1389%;
  top: 72.5952%;
  bottom: 25.4671%;
  place-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 60px;
  background-color: #3a5e7c;
  overflow: hidden;
}
.buyNow2 {
  color: #fff;
  font-size: 12px;
  line-height: 130%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._55002 {
  color: #3b1a6e;
  font-size: 16px;
  line-height: 150%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 973px;
  top: 1046px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buyNow3 {
  position: absolute;
  left: 73.5417%;
  right: 20.9722%;
  top: 72.5952%;
  bottom: 25.4671%;
  place-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 60px;
  background-color: #3a5e7c;
  overflow: hidden;
}
.buyNow4 {
  color: #fff;
  font-size: 12px;
  line-height: 130%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._55003 {
  color: #3b1a6e;
  font-size: 16px;
  line-height: 150%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 745px;
  top: 1049px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buyNow5 {
  position: absolute;
  left: 57.7083%;
  right: 36.8056%;
  top: 72.4567%;
  bottom: 25.6055%;
  place-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 60px;
  background-color: #3a5e7c;
  overflow: hidden;
}
.buyNow6 {
  color: #fff;
  font-size: 12px;
  line-height: 130%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame33306 {
  position: absolute;
  left: 517px;
  top: 1013px;
  width: 116.3317px;
  height: 50px;
  place-content: center;
  align-items: flex-start;
}
._55004 {
  color: #3b1a6e;
  font-size: 16px;
  line-height: 150%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3px;
  top: 38px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buyNow7 {
  position: absolute;
  left: 41.9444%;
  right: 52.5694%;
  top: 72.4567%;
  bottom: 25.6055%;
  place-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 60px;
  background-color: #3a5e7c;
  overflow: hidden;
}
.buyNow8 {
  color: #fff;
  font-size: 12px;
  line-height: 130%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._55005 {
  color: #3b1a6e;
  font-size: 16px;
  line-height: 150%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 61px;
  top: 1049px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._55006 {
  color: #3b1a6e;
  font-size: 16px;
  line-height: 150%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 291px;
  top: 1049px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buyNow9 {
  position: absolute;
  left: 26.4583%;
  right: 68.0556%;
  top: 72.5952%;
  bottom: 25.4671%;
  place-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 60px;
  background-color: #3a5e7c;
  overflow: hidden;
}
.buyNow10 {
  color: #fff;
  font-size: 12px;
  line-height: 130%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.buyNow11 {
  position: absolute;
  left: 10.4861%;
  right: 84.0278%;
  top: 72.5952%;
  bottom: 25.4671%;
  place-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 60px;
  background-color: #3a5e7c;
  overflow: hidden;
}
.buyNow12 {
  color: #fff;
  font-size: 12px;
  line-height: 130%;
  font-family: Helvetica, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
